@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.nav {
    position: static;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 45vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: rgb(239, 233, 233);
}

.navLink {
    cursor: grab;
}
